<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.theme.font.googlesansflex">

    <overlay
        android:category="android.theme.customization.font"
        android:priority="600"
        android:targetPackage="android" />

    <application
        android:label="@string/font_google_sans_flex_overlay">
        <meta-data
            android:name="android.theme.customization.REQUIRED_SYSTEM_FONTS"
            android:value="google-sans-flex" />
    </application>
</manifest>
